.discover-main-section{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-grow:1;
}
.discover-main-section{
    width: 30vw;
    margin-left:2rem;
    height: auto;
    max-width: 100px;
    height: auto;
}

.icon-section{
    display:flex;
   
}
 
   
.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: .5rem; 
    right: 450px;
    bottom:35px;
}

.icon img {
         width: 90px;     
}

.covers-image{
    width: 30vw;
    margin-left:2rem;
    height: auto;
    max-width:300px;    
}

.covers-image{
    
    position: absolute;
    right:300px;
    top: 200px;
    
}


@media(max-width:80px){
    .discover-main-section{
        flex-direction: column;
        justify-content: center;

    }
}

.discover-main-section .covers-image{
    margin-top:2rem;
    height:40vh;
    width:auto;
}


.title{
    display: flex;
    position: absolute;
    left: 243px;
    top: 200px;

}
.title1{
    display: flex;
    color: #BC3A80;
    position: absolute;
    left: 628px;
    top: 208px;
    font-weight: 8rem;
    
}

.Subtitle{
    position: absolute;
    left:243px;
    bottom: 230px;
}

.Subtitle1{
    position: absolute;
    left:243px;
    bottom: 230px;
}
.home-page-circle1{
    
    position: absolute;
    width:20vw;
    height: 20vw;
    border-radius: 50%;
    right:1470px;
    bottom: 400px;
    background: linear-gradient(338.79deg, rgba(188, 58, 128, 0.55) 13.54%, rgba(188, 58, 128, 0) 66.3%);
    transform: rotate(-106deg);
    
}

.home-page-circle2{
    position:absolute;
    width:5vw;
    height: 5vw;
    border-radius:50%;
    left: 1143px;
    top: -40px;
    background: linear-gradient(317.59deg, rgba(188, 58, 128, 0.4) 20.54%, rgba(188, 58, 128, 0) 85.49%);
          
}

.home-page-2circle1{
    position:absolute;
    width:5vw;
    height: 5vw;
    border-radius:50%;
    left: 195px;
    top: 440px;
    background: rgba(188, 58, 128, 0.2);
    transform: rotate(-11.05deg);
}


.home-page-2circle2{
            
position: absolute;
width:5vw;
height: 5vw;
border-radius: 50%;
left: 237.15px;
top: 400px;
background: rgba(23, 98, 167, 0.2);
transform: rotate(-11.05deg);
}
.Twitter{
    position: absolute;
    bottom: 18px;
    right: 300px;
    
    
}
.facebook{
    position: absolute;
    bottom: 15px;
    right: 150px;
    

}